*{
    box-sizing: border-box;
    
}

body{
    color: var(--noir);
    background-color: var(--blanc-cassé);
    background-attachment: fixed;
    background-repeat: no-repeat;  
}


h1{
    font-family: 'Neuton';
    font-size: 20px
    color var(--noir);
}
h3{
    font-family: 'IM FELL French Canon';
    font-size: 16px
    color var(--noir);

}
h4{
    font-family: 'Neuton';
    font-size: 22px;
}

button {
    appearance: none;
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
  }

.body__infoexpo{
    margin-top: 27%;

}