.header__nav{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    padding: 4px;
    background-color: var(--bleu);
}
.header__nav--items{
    display: flex;
    column-gap: 5rem;
}


.headerhomepage__btn--menu{
    width: 34px;
    height: 23px;
    margin: 5px;
    margin-left: auto;

}
.header__nav--language{
    width: 34px;
    height: 23px;
    margin:2px;
    margin: 2px;
    margin-top: 2rem;
}