.body__lign--decoration{
    border: 2px solid var(--marron-clair);
    border-width: 2px 0px 0px 0px;
    padding-bottom: 7px;
    width: 200px;
    margin-inline: auto;
}


.body__lign--blue{
    border: 2px solid var(--bleu);
    border-width: 2px 0px 0px 0px;
    padding-bottom: 7px;
    width: 200px;
    margin-inline: auto;
}
.body__lign--green{
    border: 2px solid var(--vert);
    border-width: 2px 0px 0px 0px;
    padding-bottom: 7px;
    width: 200px;    
}